body {
    margin: 0;
    padding: 0;
}

.content-outer-wrapper {
    width: 100%;
    margin: 0 auto;
}

.content-inner-wrapper {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1440px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 120px 0 0 0;
    background: url("img/bg-vector.svg") no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.poster-section {
    background: url("img/bg-bike.png") center center no-repeat;
    background-size: cover;
    min-width: 300px;
    height: 1002px;
}

.poster-information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1440px;
    margin: 0 auto;
    height: inherit;
}

.company-name {
    color: white;
    margin-top: 427px;
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 0;
}

.heading {
    color: white;
    margin: 6px 0 0 0;
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 60px;
}

.learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
    max-width: 206px;
    font-size: 18px;
    color: white;
    background: #000000;
    margin-top: 25px;
    margin-bottom: auto;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    font-family: "Futura PT", Arial;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 1px;
    margin-top: 35px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 32%;
}

.search-form {
    position: relative;
    flex: 0 1 100%;
    display: flex;
}

.search-icon {
    width: 14px;
    height: 14px;
    font-family: FontAwesome Solid;
    position: relative;
    top: 9px;
    left: 18px;
}

.search {
    border: 1px solid #FFFFFF;
    font-size: 11pt;
    min-width: 70px;
    max-width: 400px;
    flex-basis: 100%;
    border-radius: 15px;
    color: #000000;
    height: 30px;
    outline: none;
    font-family: "Futura PT", Arial;
    padding-left: 25px;
    transition: .3s;
}

.menu-header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
}

.menu-burger-container {
    margin-left: 35px;
    position: relative;
    height: 20px;
    cursor: pointer;
    width: 30px;
    cursor: pointer;
}

.burger-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 2px;
    background-color: #FFFFFF;
    transition: all .3s;
}

.menu-burger-container::before,
.menu-burger-container::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 2px;
    left: 0;
    background-color: #FFFFFF;
    transition: all .3s;
    z-index: 3;
}

.menu-burger-container::before {
    top: 0;
}

.menu-burger-container::after {
    bottom: 0;
}

.menu-burger-container.active .burger-btn {
    opacity: 0;
}

.menu-burger-container.active::before {
    top: 50%;
    transform: translateY(50%) rotate(45deg);
    background-color: #151515;
}

.menu-burger-container.active::after {
    top: 50%;
    bottom: auto;
    transform: translateY(50%) rotate(-45deg);
    background-color: #151515;
}

.cart {
    cursor: pointer;
    margin: 5px;
}

.menu_box {
    display: none;
}

.menu_box.active {
    display: block;
    position: absolute;
    top: -4px;
    right: -2px;

    width: 280px;
    height: 300px;

    margin: 0;
    padding: 40px 0;

    list-style: none;

    border-radius: 20px;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .3s;
}

.menu_item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .3s;
}

.menu_item:hover {
    background-color: #d4d4d4;
}

h2 {
    font-size: 64px;
    font-family: "Futura PT", Arial;
    margin: 0;
}

.category-section {
    margin-bottom: 160px;
    min-width: 0;
}

.category-name {
    margin: 0 auto 30px auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 33px;
}

.swiper-button-next {
    margin-right: 40px;
    background-image: url("img/subtract-next.svg");
}

.swiper-button-prev {
    margin-left: 40px;
    background-image: url("img/subtract-prev.svg");
}

.slider-container {
    min-height: 200px;
    flex-basis: 100%;
    max-height: 320px;
    position: relative;
    min-width: 0;
}

.slider-container::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -3%;
    height: 100%;
    width: 200px;
    background: linear-gradient(to right, #000000 0%, transparent 90%);
    z-index: 5;
}

.slider-container::after {
    content: " ";
    position: absolute;
    top: 0;
    right: -3%;
    height: 100%;
    width: 200px;
    background: linear-gradient(to left, #000000 0%, transparent 90%);
    z-index: 5;
}

.slide {
    flex-basis: 100%;
    max-width: 856px;
    min-height: 200px;
    max-height: 319px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .33s;
}

.offroad-series {
    background: url("img/Rectangle_2.png") no-repeat;
    background-size: 100% 100%;
}

.road-series {
    background: url("img/Rectangle_3.png") no-repeat;
    background-size: 100% 100%;
}

.street-series {
    background: url("img/Rectangle_4.png") no-repeat;
    background-size: 100% 100%;
}

.bike-img {
    flex-basis: 100%;
    min-width: 50px;
    min-height: 50px;
    max-height: 184px;
    margin-top: 44px;
    transition: .33s;
}

.bike-name {
    margin: 30px 0 20px 0;
    max-height: 46px;
    transition: .33s;
}

.favorites-section {
    margin: 0 auto 150px auto;
}

.favorites-name {
    margin-bottom: 30px;
}

.favorites-list {
    display: flex;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    flex-basis: 100%;
    min-height: 460px;
}

.main-item {
    background-color: #151515;
    background-position: 93% 90%;
    background-repeat: no-repeat;
    background-image: url("img/subtract.png");
    min-width: 100px;
    min-height: 100px;
    flex: 0 1 53%;
    margin: 10px;
    display: flex;
    transition: 0.3s;
    flex-wrap: wrap;
}

.side-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    flex: 0 1 47%;
    transition: 0.3s;
}

.main-item-text {
    flex: 0 1 100%;
    align-self: flex-start;
    margin: 55px 60px 0 0;
    text-align: right;
    transition: .3s;
}

.main-item-text > p {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    margin: 0;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main-item-text > article {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    color: #FFFFFF;
}

.main-item-img {
    margin: 0;
    flex: 0 1 65%;
    height: 269px;
    align-self: flex-end;
    min-height: 70px;
    min-width: 100px;
}

.item {
    background: #151515;
    min-height: 100px;
    min-width: 100px;
    flex: 0 1 45%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.33s;
}

.item > p {
    color: #FFFFFF;
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
}

.bg-wrapper{
    background: url("img/bg-vector2.svg") no-repeat;
    background-size: cover;
    padding-bottom: 160px;
}

.company-description {
    background-color: #F2F2F2;
    transition: .33s;
}

.company-text-information {
    margin: 0 auto;
}

.short-description-company {
    flex-basis: 100%;
    padding: 51px 0 61px 0;
    font-family: Futura PT, Arial;
    font-style: normal;
    font-size: 24px;
    color: #000000;
    transition: .33s;
    margin: 0;
}

.advantages-section {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .33s;
    margin: 60px auto 30px auto;
}

.advantages-header {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
    text-align: center;
    transition: .33s;
    margin: 0;
}

.advantages-list {
    list-style: none;
    display: flex;
    flex: 0 1 100%;
    min-height: 230px;
    justify-content: space-between;
    margin: 63px 0 0 0;
    padding: 50px 0 0 0;
    transition: .33s;
}

.advantages-item {
    flex: 0 0 auto;
    padding: 40px 30px;
    text-align: center;
    width: 25%;
    max-height: 219px;
    display: block;
    position: relative;
    background: #F2F2F2;
    transition: .3s;
}

.advantages-item.open {
    max-height: 100%;
    transition: .9s;
}

.advantages-item.open .content-details{
    visibility: visible;
    height: auto;
}

.advantage-img{
    position: absolute;
    top: -80px;
    left: 30%;
}

.advantage-text {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    margin: 30px 0;
    transition: .3s;
}

.content-details {
    visibility: hidden;
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 10px 0;
    height: 0;
    transition: .3s;
}

.subtract-details {
    position: absolute;
    width: 13px;
    height: 13px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url("img/subtract-details.svg") no-repeat center center;
    background-size: contain;
    bottom: 8px;
    flex-shrink: 0;
}

.overview-section {
    display: flex;
    flex-basis: 100%;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding-bottom: 13px;
    margin: 0 auto;
    /*padding-top: 150px;*/
}

.trailer {
    flex: 0 1 100%;
    min-width: 300px;
    min-height: 240px;
    max-width: 1157px;
    max-height: 642px;
    padding: 3px;
    margin-top: 78px;
}

.video-trailer {
    width: 100%;
    height: 100%;
}

.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    max-height: 658px;
    background: white url("img/nlo.png") no-repeat 5% 0%;
    transition: .33s;
    margin: 0 auto;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 151px;
    margin-bottom: 197px;
    transition: .33s;
}

.newsletter-label {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
}

.newsletter-email {
    flex: 1 1 100%;
    height: 40px;
    padding: 8px;
    margin: 20px 5px 0 5px;
    min-width: 415px;
    border: 1px black solid;
    border-radius: 0px;
}

.submit-newsletter {
    height: 45px;
    width: 252px;
    font-size: 18px;
    color: white;
    background: #000000;
    margin-bottom: auto;
    outline: none;
    border: none;
    padding: 11px 39px;
    flex: 0 1 100%;
    font-family: "Futura PT", Arial;
    margin-top: 30px;
}

footer {
    background-color: #151515;
}

.footer-section {
    display: flex;
    min-height: 477px;
    min-width: 320px;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    transition: .3s;
    margin: 0 auto;
}

.footer-main-information {
    display: flex;
    justify-content: space-between;
    flex: 0 1 100%;
    transition: .3s;
}

.footer-link-lists {
    display: flex;
    flex: 0 1 100%;
    justify-content: flex-end;
}

.footer-main-information > img {
    flex-shrink: 0;
    width: 180px;
    height: 65px;
}

.footer-link-lists ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    flex: 0 1 20%;
}

.footer-link-lists ul > li {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    transition: .3s;
    margin-bottom: 10px;
}

.footer-link-lists ul > li:first-child {
    margin-bottom: 16px;
    font-weight: bold;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: FontAwesome Brand;
    width: 55px;
    height: 28px;
    margin: 16px 0;
}

.social-networks > a {
    text-decoration: none;
}

.social-networks > a > i {
    color: #FFFFFF;
    font-size: 24px;
}

.copyright {
    font-family: Futura PT, Arial;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #484848;
    flex: 0 1 100%;
    margin-top: 34px;
}

@media screen and (max-width: 1023px) {
    .poster-section {
        height: 700px;
    }

    .content-inner-wrapper {
        padding-left: 35px;
        padding-right: 35px;
    }

    .heading {
        font-size: 56px;
    }

    h2 {
        font-size: 56px;
    }

    .bike-img {
        max-height: 134px;
    }

    .bike-name {
        max-height: 38px;
    }

    .favorites-list {
        flex-wrap: wrap;
    }

    .main-item {
        flex-basis: 100%;
    }

    .side-items {
        flex-wrap: nowrap;
        flex-basis: 100%;
    }

    .main-item-text {
        margin: 25px 25px 0 0;
    }

    .main-item-img {
        flex: 0 1 50%;
        height: 200px;
    }

    .short-description-company {
        font-size: 20px;

    }

    .advantages-item {
        margin-left: 12px;
        margin-right: 12px;
    }

    .advantages-item.open {
        margin-left: 12px;
        margin-right: 12px;
    }

    .advantage-text {
        font-size: 20px;
        margin: 10px 0;
    }

    .submit-newsletter {
        margin-top: 30px;
    }

    .footer-link-lists ul > li {
        font-size: 14px;
    }

    .slider-container::before {
        display: none;
    }

    .slider-container::after {
        display: none;
    }

    .company-name {
        margin-top: auto;
    }
}

@media screen and (max-width: 767px) {
    .poster-section {
        height: 500px;
    }

    .search-container {
        flex-basis: 15%;
    }

    .search {
        width: 50px;
    }

    .content-inner-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .heading {
        font-size: 30px;
    }

    h2 {
        font-size: 38px;
    }

    .company-name {
        font-size: 20px;
    }

    .logo {
        min-width: 50px;
    }

    .cart {
        min-width: 20px;
    }

    .bike-img {
        max-height: 100px;
    }

    .bike-name {
        max-height: 24px;
    }

    .main-item-text {
        margin: 5px 5px 0 0;
    }

    .main-item-img {
        min-width: 280px;
        max-width: 310px;
        height: 150px;
    }

    .main-item-text > p {
        font-size: 24px;
        text-align: center;
    }

    .main-item-text > article {
        font-size: 12px;
        text-align: center;
    }

    .menu-burger-container {
        min-width: 20px;
        margin-left: 0;
    }

    .side-items {
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    .main-item, .item {
        height: 270px;
    }

    .item {
        background-image: url("img/subtract.png");
        background-repeat: no-repeat;
        background-position: 92% 90%;
        flex: 1 1 45%;
    }

    .item > p {
        font-size: 18px;
    }

    .short-description-company {
        font-size: 18px;
        padding: 15px;
    }

    .advantages-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .advantages-item {
        margin: 50px 10px 10px 10px;
        padding-top: 25px;
    }

    .advantages-item.open {
        margin: 80px 10px 10px 10px;
        padding-top: 50px;
    }

    .advantage-text {
        font-size: 16px;
    }

    .submit-newsletter {
        margin-top: 20px;
    }

    .slider-container::before {
        left: -10%;
    }

    .slider-container::after {
        right: -10%;
    }

    .footer-main-information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .newsletter-email {
        min-width: 290px;
    }

    .footer-link-lists {
        flex-wrap: wrap;
    }

    .footer-link-lists ul {
        margin: 10px;
        flex: 0 1 40%;
    }

    .social-networks {
        align-self: center;
    }
}

@font-face {
    font-family: FontAwesome Solid;
    src: url("fonts/fa-solid-900.eot");
    src: url('fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url("fonts/fa-solid-900.woff2") format("woff2"),
    url('fonts/fa-solid-900.woff') format('woff'),
    url('fonts/fa-solid-900.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: FontAwesome Brand;
    src: url("fonts/fa-brands-400.eot");
    src: url('fonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url("fonts/fa-brands-400.woff2") format("woff2"),
    url('fonts/fa-brands-400.woff') format('woff'),
    url('fonts/fa-brands-400.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/Futura_pt_light.eot');
    src: url('fonts/Futura_pt_light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Futura_pt_light.woff2') format('woff2'),
    url('fonts/Futura_pt_light.woff') format('woff'),
    url('fonts/Futura_pt_light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Bold.eot');
    src: url('fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('fonts/FuturaPT-Bold.woff') format('woff'),
    url('fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('fonts/FuturaPT-Book.eot');
    src: url('fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/FuturaPT-Book.woff2') format('woff2'),
    url('fonts/FuturaPT-Book.woff') format('woff'),
    url('fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}